doctype html
html
  head
    title Output
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

body 
   p  
    strong  Your last #{datas3} records 

   p #{datas[0]}
   p #{datas[1]}
   p #{datas[2]}
   p #{datas[3]}
   p #{datas[4]}
   p #{datas[5]}
   p #{datas[6]}
   p #{datas[7]}
   p #{datas[8]}
   p #{datas[9]}

   br
   br
   br
   br
   p
    strong Your average marks calculated from last #{datas3} records :-
   p In average terms, you get #{datas2} correct out of 5 
