doctype html
html
  head
    title Output
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

body 
   p  
    strong  You got #{correct} correct out of 5
   p 
    strong Reactions are :--
    table 
      tr
        td #{datas.y[0]}
        td #{datas.y[1]}
        td +
        td #{datas.y[2]}
        td #{datas.y[3]}
        td  ------->>>
        td #{datas.y[4]}
        td #{datas.y[5]}
        td +
        td #{datas.y[6]}
        td #{datas.y[7]} 

      tr
        td #{datas.y[8]}
        td #{datas.y[9]}
        td +
        td #{datas.y[10]}
        td #{datas.y[11]}
        td  ------->>>
        td #{datas.y[12]}
        td #{datas.y[13]}
        td +
        td #{datas.y[14]}
        td #{datas.y[15]} 

      tr
        td #{datas.y[16]}
        td #{datas.y[17]}
        td +
        td #{datas.y[18]}
        td #{datas.y[19]}
        td  ------->>>
        td #{datas.y[20]}
        td #{datas.y[21]}
        td +
        td #{datas.y[22]}
        td #{datas.y[23]} 

      tr
        td #{datas2.y[0]}
        td #{datas2.y[1]}
        td +
        td #{datas2.y[2]}
        td #{datas2.y[3]}
        td +
        td #{datas2.y[4]}
        td #{datas2.y[5]}
        td  ------->>>
        td #{datas2.y[6]}
        td #{datas2.y[7]} 

      tr
        td #{datas2.y[8]}
        td #{datas2.y[9]}
        td +
        td #{datas2.y[10]}
        td #{datas2.y[11]}
        td +
        td #{datas2.y[12]}
        td #{datas2.y[13]}
        td  ------->>>
        td #{datas2.y[14]}
        td #{datas2.y[15]} 