doctype html
head
  // Basic
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Chemgineers
  // Favicon
  link(rel='shortcut icon' href='Icon ionic-logo-buffer.png' type='image/x-icon')
  link(rel='apple-touch-icon' href='Icon ionic-logo-buffer.png')
  // Mobile Metas
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no')
  // Web Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400' rel='stylesheet' type='text/css')
  // Vendor CSS
  link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='fontawesome-free/css/all.min.css')
  link(rel='stylesheet' href='animate/animate.min.css')
  link(rel='stylesheet' href='simple-line-icons/css/simple-line-icons.min.css')
  link(rel='stylesheet' href='owl.carousel/assets/owl.carousel.min.css')
  link(rel='stylesheet' href='owl.carousel/assets/owl.theme.default.min.css')
  link(rel='stylesheet' href='magnific-popup/magnific-popup.min.css')
  // Theme CSS
  link(rel='stylesheet' href='theme.css')
  link(rel='stylesheet' href='theme-elements.css')
  link(rel='stylesheet' href='theme-blog.css')
  link(rel='stylesheet' href='theme-shop.css')
  // Skin CSS
  link(rel='stylesheet' href='skins/default.css')
  script(src='style-switcher/style.switcher.localstorage.js')
  // Theme Custom CSS
  link(rel='stylesheet' href='custom.css')
  // Head Libs
  script(src='modernizr/modernizr.min.js')
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  // Option 1: Bootstrap Bundle with Popper
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4' crossorigin='anonymous')
  // chemgineers CSS
  link(rel='stylesheet' href='styles.css')

script.
   function call() {
    fetch('http://localhost:5000/recentsearches')
    .then(function (response){
    return response.json();
    })
    .then(function (myjson){
       let a=myjson.y.length 
       console.log(a)
       let b=a/8
       let k=0
       for(let i=0; i<b; i++){
          
            document.write(myjson.y[k])
            document.write(myjson.y[k+1])
            document.write("+")
            document.write(myjson.y[k+2])
            document.write(myjson.y[k+3])
            //- document.write(---->>)
            document.write(myjson.y[k+4])
            document.write(myjson.y[k+5])
            //- document.write(+)

            document.write(myjson.y[k+6])
            document.write(myjson.y[k+7])
            k=k+7
       }
       
     })


 }

body 
  // Navbar begins
  header#header.header-effect-shrink(data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}")
    .header-body.header-body-bottom-border-fixed.bg-blue-chan
      .header-container.container
        .header-row
          .header-column
            .header-row
              .header-logo
                a(href='/')
                  img(alt='Chemgineers' width='40' data-sticky-width='40' data-sticky-height='40' src='Icon ionic-logo-buffer.png')
          .header-column.justify-content-end
            .header-row
              .header-nav.header-nav-line.header-nav-top-line.header-nav-top-line-with-border.order-2.order-lg-1
                .header-nav-main.header-nav-main-square.header-nav-main-effect-2.header-nav-main-sub-effect-1
                  nav.collapse
                    ul#mainNav.nav.nav-pills
                      li.dropdown
                        a.dropdown-item.dropdown-toggle.text-primary(href='/')  Home 
                      li.dropdown
                        a.dropdown-item.dropdown-toggle.active-chan.active(href='/solver') Self-Solver
                      li.dropdown
                        a.dropdown-item.dropdown-toggle.text-primary(href='#') Compete
                      li.dropdown
                        a.dropdown-item.dropdown-toggle.text-primary(href='#') Discussion Panel
                      li.dropdown
                        a.dropdown-item.dropdown-toggle.text-primary(href='/contact') Analytics
                button.btn.header-btn-collapse-nav(data-toggle='collapse' data-target='.header-nav-main nav')
                  i.fa.fa-bars
              .header-nav-features.header-nav-features-no-border.header-nav-features-lg-show-border.order-1.order-lg-2
                .header-nav-feature.header-nav-features-search.d-inline-flex
                  a.header-nav-features-toggle(href='#' data-focus='headerSearch')
                    i.fas.fa-search.header-nav-top-icon
                  #headerTopSearchDropdown.header-nav-features-dropdown
                    form(role='search' action='#' method='get')
                      .simple-search.input-group
                        input#headerSearch.form-control.text-1(name='q' type='search' value='' placeholder='Search...')
                        span.input-group-append
                          button.btn(type='submit')
                            i.fa.fa-search.header-nav-top-icon
  // Navbar closing

// landing
br
br
br
br



.container(style='display: flex;')
  // table, table-borderless

  form(method='GET' action='/balance')
    table
      tr
        td
         input(type='number' min='1' step='1' name='S' required)
        td #{datas.A}
 
        td +
 
    
        td
          input(type='number'  min='1' step='1' name='SO' required)
        td #{datas.B}

        td ------->>>

        td
          input(type='number'  min='1' step='1' name='AV' required)
        td #{datas.C}
 
        td +

        td
          input(type='number' min='1' step='1' name='MR' required)
        td #{datas.D}

      tr
        td(colspan='2')
          input.btn.btn-primary(type='submit' value='Submit') 



// landing closing


// Reaction content
#accordionExample.accordion(style='width: 75%; margin-top: 5%; margin-left: 12%;')
  .accordion-item
    h2#headingOne.accordion-header
      button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
        | Guide: How to write Compound&apos;s Symbols which you want to search for
    #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
      .accordion-body
        div
          strong Carbondioxide:
          |  CO2
        div
          strong Methane:
          | CH4
        div
          strong Chlorine:
          | Cl2
        div
          strong Sodium Hydroxide:
          | NaOH
        div
          strong Carbon Tetrachloride:
          | CCl4
        div
          strong Hydrogen Chloride:
          | HCl
        div
          strong Barium Chloride:
          | BaCl2
        div
          strong Aluminium Sulphate:
          | (Al)2(SO4)3
        div
          strong Barium Sulphate:
          |  BaSO4
        div
          strong Aluminium Chloride:
          | AlCl3
        div
          strong Hydrogen:
          |  H2
        div
          strong Water:
          | H2O
        div
          strong Sodium:
          |  Na
        div
          strong Potassium:
          | K
        div
          strong Sulphur:
          |  S
        div
          strong Oxygen:
          | O2
        div
          strong Potassium Sulphate:
          | K2SO4
        div
          strong :
          | MHCO3
        div
          strong :
          | M2CO3
// Reaction content closed  




// Footer
footer.page-footer.font-small.bg-footer
  // Footer Links
  .container.text-md-left.mt-5.main-footer-bg(style='padding-top: 2%;')
    // Grid row
    .row.mt-3
      // Grid column
      .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
        // Content
        h6.text-uppercase.font-weight-bold.text-light Chemgineers - Toycathon
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          | industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          | and scrambled it to make a type specimen book.
      // Grid column
      // Grid column
      .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
        // Links
        h6.text-uppercase.font-weight-bold.text-white Utilities
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          a(style='text-decoration: none;' href='#') Compete Online
        p
          a(style='text-decoration: none;' href='#') Test Your Knowledge
        p
          a(style='text-decoration: none;' href='#!') Discussion
      // Grid column
      // Grid column
      .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
        // Links
        h6.text-uppercase.font-weight-bold.text-light Useful links
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          a(style='text-decoration: none;' href='#!') Privacy and Policies
        p
          a(style='text-decoration: none;' href='#!') Terms and conditions
        p
          a(style='text-decoration: none;' href='#!') Help
      // Grid column
      // Grid column
      .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
        // Links
        h6.text-uppercase.font-weight-bold.text-light Contact
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          i.fa.fa-home.mr-3
          |  Harcourt Butler Technical University, Nawabganj, Kanpur
          |                     (U.P.) &ndash; 208 002
        p
          i.fa.fa-envelope.mr-3
          | chemgineers@gmail.com
        p
          i.fa.fa-phone.mr-3
          |  + 01 234 567 88
      // Grid column
    // Grid row
  // Footer Links
  // Copyright
  .footer-copyright.text-center.py-3.copy-bg(style='color: white;')
    | &copy; 2021 Copyright:
    a(style='text-decoration: none;' href='') chemgineers.com
  // Copyright
// Footer
// Vendor
script(src='jquery/jquery.min.js')
script(src='jquery.appear/jquery.appear.min.js')
script(src='jquery.easing/jquery.easing.min.js')
script(src='jquery.cookie/jquery.cookie.min.js')
script#styleSwitcherScript(src='style-switcher/style.switcher.js' data-base-path='' data-skin-src='')
script(src='popper/umd/popper.min.js')
script(src='bootstrap/js/bootstrap.min.js')
script(src='common/common.min.js')
script(src='jquery.validation/jquery.validate.min.js')
script(src='jquery.easy-pie-chart/jquery.easypiechart.min.js')
script(src='jquery.gmap/jquery.gmap.min.js')
script(src='jquery.lazyload/jquery.lazyload.min.js')
script(src='isotope/jquery.isotope.min.js')
script(src='owl.carousel/owl.carousel.min.js')
script(src='magnific-popup/jquery.magnific-popup.min.js')
script(src='vide/jquery.vide.min.js')
script(src='vivus/vivus.min.js')
// Theme Base, Components and Settings
script(src='theme.js')
// Theme Initialization Files
script(src='theme.init.js')
script.
  (function (i, s, o, g, r, a, m) {
  i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
  (i[r].q = i[r].q || []).push(arguments)
  }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '../../../../www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-42715764-5', 'auto');
  ga('send', 'pageview');


